@mixin button($color, $bgr, $font-size, $border-color) {
	border: 1px solid $border-color;
	background: $bgr;
	font-size: em($font-size);
	height: 32px;
	padding: 0 10px;
	color: $color;

	@content;
}