// include reset first
@import "reset";

$cinder-px-context: 16;

// Grid configuration

$cinder-grid-width: 1000px;
$cinder-grid-columns: 12;

// fonts

$cinder-sans-font: 'Fira Sans', sans-serif;
$cinder-mono-font: 'Fira Mono', monospace;

$cinder-line-height: 1.5;
$cinder-line-height-small: 1.1;

$cinder-fontweight-light: 300;
$cinder-fontweight-normal: 400;
$cinder-fontweight-semibold: 500;
$cinder-fontweight-bold: 700;
$cinder-fontsize-normal: 14;