body {
	font-family: $cinder-sans-font;
	line-height: $cinder-line-height;
	font-size: em($cinder-fontsize-normal);
}

.light {
	font-weight: $cinder-fontweight-light;
}

.normal {
	font-weight: $cinder-fontweight-normal;
}

.semibold {
	font-weight: $cinder-fontweight-semibold;
}

.bold {
	font-weight: $cinder-fontweight-bold;
}

.mono {
	font-family: $cinder-mono-font;
}

h1 {
	@extend .bold;
	font-size: em(32);
}

h2 {
	@extend .semibold;
	font-size: em(28);
}

h3, h4, h5, h6 {
	@extend .normal;
}

h3 {
	font-size: em(22);
}

h4 {
	font-size: em(18);
}

h5 {
	font-size: em(14);
}

h6 {
	font-size: em(12);
}